{% extends "layout.html"%}
<!-- added code from this page to nav section of layout -->
{% block nav %}
<h1>This is the Home Page</h1>
      <ul class="nav_ul">
          <li><a href="/home">Home</a></li>
          <li><a href="/login"></a></li>
          <li><a href="/signup"></a></li>
          <li><a href="/welcome">Welcome</a></li>
      </ul>
{% endblock nav %}


{% block content %}
<h1> Welcome {{form.username.data}}<br></h1>
<p></p>
<p></p>
<h1> This is the Home Page</h1>
    <p></p>
    <p></p>
    <p></p>

    <h1>Project soon to come.............</h1>
{% endblock content %}