<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if title %}
            <title>Flask - {{title}}</title>
        {% else %}
            <title>Flask</title>
        {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main3.css') }}">
    <style>
    .errors {color:red;}

    </style>
    </head>
<body>
<header>

<!--=============== Nav section==============--> 
<nav class="nav_top">
{% block nav %} {% endblock nav %}
    <ul class="nav_ul">
           <!-- <li><a href="#">Home</a></li>-->
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
            <!--<li><a href="/welcome">Welcome</a></li>-->
    </ul>
<!-- ===========added code from templates linked to this layout page ====================-->
</nav>

<hr class="style"> 
<!---============ Section section ===============--> 
  
</header>
    {% block content %} {% endblock content %}
</body>
</html>